[2015-11-15 18:25] KevinRansom opened #1 "Invalid example code for topic "Tutorial: Creating a Type Provider (F#)""
Topic Url: https://msdn.microsoft.com/en-us/library/hh361034.aspx
Reported on twitter:  https://twitter.com/dannyrosalex/status/665492709247971328

<blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/VisualFSharp">@VisualFSharp</a> <a href="https://twitter.com/hashtag/msdn?src=hash">#msdn</a> Legal F# code would be nice <a href="https://t.co/mXXukoInAh">

[2015-11-21 10:07] forki opened #3 "Group MD files into folder"
"Sorry, we had to truncate this directory to 1,000 files. 751 entries were omitted from the list."

even github can't dislay this properly

[2015-11-22 21:27] jackfoxy commented on #3
@forki agree, would like to see folder structure like MSDN doc hierarchy

Visual F# Development Portal
(subfolders)
Visual F# Guided Tour
(subfolders)
Using Visual Studio to Write F# Programs
(subfolders)
F# Language Reference
(subfolders)
F# Compiler (fsc.exe) Reference
(subfolders)
F# Interactive (fsi.exe) Reference
(subfolders)
F# Core Library Reference
(subfolders)
Visual F# Samples and Walkth

[2015-11-22 21:38] jackfoxy opened #4 "add code snippets to repo"
snippets within the .md docs not accessible

[2015-11-23 14:37] KevinRansom commented on #3
As of now there is no planned hierarchy, and I believe we will be able to reorganize this however we want.  We are in no rush to reorganize it.  Let us first work with this for a short while, until we are comfortable that we understand the submission and re-integration processes before making significant changes

The proposed folder structure certainly seems like a viable and usefull one.

Kevin

[2015-11-23 19:24] ReedCopsey opened #5 "Add licensing information"
There is currently no licensing information attached to any of these docs.  It'd be nice to know whether they'd be reusable by other projects, and if so, under what license.

[2015-11-30 16:04] NumberByColors commented on #5
Looking into it...

[2016-01-13 19:35] ReedCopsey commented on #5
@NumberByColors Having a license file at the root level would be standard - headers would be nice, but even if they're left out, at least there would be a reference document there.

[2016-01-14 19:06] dend commented on #5
+1 to what @ReedCopsey mentioned.

I will script the license as headers and will include it both at a root level and inside .MD files.

[2016-05-12 15:32] CSharpFan opened #14 "query-expressions"
https://github.com/Microsoft/visualfsharpdocs/blob/live/docs/conceptual/query-expressions-[fsharp].md
Same here:
https://msdn.microsoft.com/visualfsharpdocs/conceptual/query-expressions-%5bfsharp%5d
Is this the same source?
Something went wrong with the parsing here.

[2016-05-12 15:35] CSharpFan opened #15 "query-expressions"
Wrong documentation regarding `join`:

It seems to be impossible to swap them around, also mentioned in

http://stackoverflow.com/questions/22569661/how-do-query-expression-joins-depend-on-the-order-of-keys

http://stackoverflow.com/questions/22569661/how-do-query-expression-joins-depend-on-the-order-of-keys#comment34355827_22569818

Can the documentation be elaborated on in WHICH case this can ac

[2016-05-12 18:10] dend commented on #14
Thanks for the report @CSharpFan - looking into it.

[2016-05-12 21:14] dend commented on #14
I fixed the tables and the output. We are looking at snippet formatting now.

[2016-05-12 21:14] #14 closed

[2016-05-12 21:14] dend opened #19 "Snippets formatting"
Code snippets are formatted as inline code instead of code blocks.

Referenced from #14

https://msdn.microsoft.com/visualfsharpdocs/conceptual/query-expressions-%5bfsharp%5d

@saldana for visibility.

[2016-05-12 21:19] dend commented on #4
This is now complete - snippets are available in the repo as a separate entity.

[2016-05-12 21:19] #4 closed

[2016-05-12 21:20] dend commented on #3
As @KevinRansom mentioned, right now there are no plans to re-structure the hierarchy, so I am going to close this for now.

[2016-05-12 21:20] #3 closed

[2016-05-12 21:26] dend commented on #1
Fixed.

[2016-05-12 21:26] #1 closed

[2016-05-12 22:35] dend commented on #19
@hexiaokai for visibility as well.

[2016-05-15 22:35] dend commented on #15
@KevinRansom @dsyme - can you comment on the above?

[2016-05-16 13:19] statpro-awebb opened #25 "failwith throws System.Exception, not Microsoft.FSharp.Core.FailureException"
As noted by @dsyme and reported to Microsoft by me over a year ago, `failwith` throws `System.Exception` and not `Microsoft.FSharp.Core.FailureException`:-

https://github.com/fsharp/fsharp.github.io/issues/28#issuecomment-101332987

The published doc page is here:-

https://msdn.microsoft.com/visualfsharpdocs/conceptual/exceptions-the-failwith-function-[fsharp]

I will generate PR to fix.

[2016-05-16 14:53] Andrew-Webb opened #27 ":: (cons) operator prepends element to list, not appends"
File `docs/conceptual/symbol-and-operator-reference-[fsharp].md` says of the `::` operator:-

"The element on the left side is appended to the list on the right side."

But methinks this should be:-

"The element on the left side is prepended to the list on the right side."

[2016-05-16 14:56] dend commented on #25
The PR was merged into master and synced to live. Doc update should be live within a couple of minutes.

[2016-05-16 14:56] #25 closed

[2016-05-16 15:41] dsyme commented on #27
correct

[2016-05-16 16:21] dend commented on #27
I merged the PR - it should be live shortly.

[2016-05-16 16:21] #27 closed

[2016-05-17 17:10] vasily-kirichenko opened #33 "Async.Catch code snippet is broken"
https://msdn.microsoft.com/visualfsharpdocs/conceptual/async.catch%5b%27t%5d-method-%5bfsharp%5d

![image](https://cloud.githubusercontent.com/assets/873919/15331736/694380e0-1c6b-11e6-8f0b-206c5c0ebcaa.png)

[2016-05-17 17:15] akoeplinger opened #34 "Contributor list in header shows 1{__global.contributor}}"
e.g. on https://msdn.microsoft.com/de-de/visualfsharpdocs/conceptual/visual-fsharp:

![image](https://cloud.githubusercontent.com/assets/1376924/15331896/b404314a-1c63-11e6-8ecb-29e127c35df3.png)

[2016-05-17 17:27] dend commented on #34
Thank you for the report, @akoeplinger - looks like a recent bug. We're investigating.

[2016-05-17 17:34] dend commented on #33
Just issued a fix. Let's see how it propagates. @vasily-kirichenko

[2016-05-17 17:37] dend commented on #33
Fix is now live and the code snippet is fixed.

[2016-05-17 17:37] #33 closed

[2016-05-17 17:46] vasily-kirichenko opened #35 "Not very good type members table formatting"
https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/control.async-class-[fsharp]

The "Member" column should be wider:

![image](https://cloud.githubusercontent.com/assets/873919/15332931/41ed66be-1c70-11e6-99e6-a974c5aa2919.png)

[2016-05-17 17:48] vasily-kirichenko opened #36 "Snippets have large empty space at the top"
https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/async.awaitevent['del,'t]-method-[fsharp]

![image](https://cloud.githubusercontent.com/assets/873919/15333053/b3dbf402-1c70-11e6-84b9-8c86f0863e9d.png)

[2016-05-17 17:54] dend commented on #36
Assigning to myself. This is something I need to fix across the entire stack.

[2016-05-17 18:04] dend commented on #35
Also assigning to myself - will update today.

[2016-05-17 18:23] dend commented on #35
Looks like an issue with the Chrome CSS interpretation for responsive tables. If you open this in IE11 or Edge, it will render it fully. We're still investigating a fix.

[2016-05-17 22:47] eriawan opened #39 "Add current F# release notes"
cc @dend @NumberByColors @KevinRansom @dsyme

We need to have F# release notes included in MSDN Library documentation.

Now that VS 2015 is RTM, so the related version is F# 4.0. Therefore we should have something like "What's new in F# 4.0" page.
Maybe we can start to copy the content from VIsual F# Github's CHANGELOG.MD:
https://github.com/Microsoft/visualfsharp/blob/master/CHANGELOG.md

After t

[2016-05-17 23:08] KevinRansom commented on #39
Go ahead my friend, sounds like a great plan.

From: Eriawan Kusumawardhono [mailto:notifications@github.com]
Sent: Tuesday, May 17, 2016 3:48 PM
To: Microsoft/visualfsharpdocs <visualfsharpdocs@noreply.github.com>
Cc: Kevin Ransom <Kevin.Ransom@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [Microsoft/visualfsharpdocs] Add current F# release notes (#39)

cc @dend<https://github.com

[2016-05-18 03:59] dend commented on #39
Feel free to create the page, update the TOC and issue a PR - we will review and merge it once it passes the necessary validation checks.

[2016-05-18 08:42] Andrew-Webb opened #40 "Formatting issues"
I know you're aware of some of these, and others have mentioned them in other issues, but I want to go through all the formatting issues I see here:-

https://msdn.microsoft.com/visualfsharpdocs/conceptual/exceptions-the-failwith-function-[fsharp]

* `title: Exceptions: The failwith Function (F#) description: Exceptions: The failwith Function (F#) keywords: visual f#, f#, functional programming au

[2016-05-19 22:11] dend opened #54 "Code snippets in tables are not properly formatted and are placed inline"
A good example would be this page:
https://msdn.microsoft.com/visualfsharpdocs/conceptual/verbose-syntax-%5bfsharp%5d

Inserting forced line breaks `<br/>` will just render the tag and not actually do a break.

[2016-05-19 22:13] dend opened #55 "Validate existing docs against the cached version to make sure that we have 1:1 matches"
Ensure that we do not have problems with missing exception and returned value segments. Noticed that in some docs that is replaced with a placeholder string that the tag is not supported.

[2016-05-19 22:15] dend commented on #34
This should be fixed now.

[2016-05-19 22:15] #34 closed

[2016-05-19 22:15] dend opened #56 "Remove garbage formatting from docs"
Some docs have leftover transitional elements that don't make any sense within the new doc set.

[2016-05-19 22:16] dend opened #57 "Add doc formatting guidelines to the Wiki"

[2016-05-19 22:18] dend opened #58 "Code snippets that are embedded in the doc should be referenced instead"
This applies to all large code chunks that are shown as text instead of being inserted from the `snippets` folder.

[2016-05-19 22:51] akoeplinger commented on #34
Thank you!

[2016-05-19 23:43] ReedCopsey opened #61 "Type formatting inconsistency"
Throughout the site, types are formatted in two different ways.  I thought I'd volunteer to correct this, but wanted to make sure it'd be accepted before I tackle the (large) set of changes.

For example, look at the `ResizeArray<'T>` [type abbreviation page](https://msdn.microsoft.com/visualfsharpdocs/conceptual/collections.resizearray%5B%27t%5D-type-abbreviation-%5Bfsharp%5D)

The top of the pag

[2016-05-19 23:56] smoothdeveloper commented on #61
We should use lowercase `'t`.

We should also have a cannonical way to refer to an assembly member, statically checked, but this will come later I suppose; this would allow to make a lint checking that all members have a page, or that all links point to something actually existing in the assembly.

[2016-05-19 23:59] ReedCopsey commented on #61
If we go lower case, I'd prefer `<'a>`, since FSI does this:

[code]

[2016-05-20 00:02] ReedCopsey commented on #61
Note that switching to `<'a>` / `<'a,'b>` might be more difficult to do globally in one pass - it would increase the scope significantly, though I'd happily do that for all of the files I edit, and try to find all other usages while I'm at it.

[2016-05-20 00:30] smoothdeveloper commented on #61
@ReedCopsey I think we should gear toward idiomatic F# more than reusing C# idioms in the parlance, we should for example say `Foo seq` rather than `IEnumerable<Foo>`, we also have to present F# in it's own context within the ML tradition rather than "just another .net language".

I understand you want to fix the inconsistency first, maybe we can share the load after your first commit, we can spli

[2016-05-20 03:06] smoothdeveloper opened #62 "please add website in the description of this repository"
https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/visual-fsharp should appear in the top description

[2016-05-20 09:04] Andrew-Webb opened #63 "Published page contributorship and authorship... things to consider"
Take this published page as an example:-

https://msdn.microsoft.com/visualfsharpdocs/conceptual/symbol-and-operator-reference-[fsharp]

Things to consider re. contributorship and authorship:-

1. Clarifying the relationship of "Den Delimarsky" to the page.  E.g. identify Den as the publisher, maybe (?)
2. Include a reference to the primary and original author of the bulk of the text, where known

[2016-05-20 09:11] Andrew-Webb opened #64 "Last updated date formatting; don't assume en-US"
As we see here:-

https://msdn.microsoft.com/visualfsharpdocs/conceptual/symbol-and-operator-reference-[fsharp]

the page is date stamped like so:-

`Last Updated: 5/17/2016`

Now, my browser's preferred language setting is en-GB, so this date formatting is wrong for me.  Of course there is no 17th month, but is 5/12/2016 the fifth of December or the 12th of May?

Format dates using the browser's

[2016-05-20 09:38] dsyme commented on #61
@smoothdeveloper Here are the guidelines:

- For all F# code it is idiomatic to use uppercase type variable names ``'T`` etc.  Lower case is only used in the output of type inferred functions.  See ``Do use PascalCase for generic parameter names`` in the [F# Component Guidelines](http://fsharp.org/specs/component-design-guidelines/)

- The following are preferred for writing types, see the compone

[2016-05-20 10:07] smoothdeveloper commented on #61
@dsyme, thanks for reference to guidelines and quoting the relevant bits!

Ok, we should stick to that for editing documentation, @ReedCopsey whenever you'll want another pair of eye for review or contribution on your first pass, please let me know.

For the trivia (and won't be too curious going farther) but who made `cup<'t>` and why wasn't it following guidelines? `'t cup` feels the most elegan

[2016-05-20 10:10] smoothdeveloper commented on #64
`2016/05/17`

[2016-05-20 11:46] dsyme commented on #61
Where do you see that cup? It's wrong!

[2016-05-20 11:47] Andrew-Webb commented on #64
It always takes me a second or two to parse something like `2016/05/17` whereas I can get `17 May 2016` in an instant.

[2016-05-20 14:56] ReedCopsey commented on #61
@dsyme sent to contributors by Visual F# team

[2016-05-20 15:07] smoothdeveloper commented on #61
@dsyme (when we can't bike-shed operator location in compiler :smile: ) https://blogs.msdn.microsoft.com/dotnet/2015/07/02/thank-you-for-your-contributions/

For me SHOUTING_CODE is wrong, be it sql, type parameters in .net generics, java erased generics etc.

It seems those bits which ended in **F# Component Guidelines** is what justifies the most "Influenced by ... C#, ..." I've seen somewhere a

[2016-05-20 16:44] ReedCopsey commented on #61
So - My proposal would be for me to go through and:

1. Remove the T: prefixes. I suspect these were from automatic XML doc comment conversions, and really are "wrong"
2. Change generic type references everywhere I see them, while at it, to using `Foo<'T>`, `Foo<'T1,'T2>`, or `Foo<'T1,'T2,'U>` styling (this matches usages in existing code in samples, from what I can tell -where `'T`/`'U` is used,

[2016-05-20 17:25] dend commented on #61
@ReedCopsey seems reasonable. I will be monitoring inbound PR and will add comments if something's off.

[2016-05-20 17:28] ReedCopsey commented on #61
@dend I'll start working on it - are you okay if I do it in stages? From my initial count, this will impact at least 363 files - might make sense to do them in batches

[2016-05-20 17:30] dend commented on #61
@ReedCopsey of course, docs are always in flow.

[2016-05-20 18:30] smoothdeveloper opened #66 "Create and share a bookmarklet github -> msdn"
When I browse this repository and looking at a particular `.md` file, it would really help the workflow to be able to view the page **in-situ** on msdn website.

There is already a link to do the reverse (which is great for inviting to contributions), but having an easy way to go the other way around will make contributors more effective.

[2016-05-20 18:31] KevinRansom commented on #61
@dsyme @ReedCopsey Yeah cup of <'t> doesn't follow the guidelines, but then neither does about 50% of the code I've seen.  When we made the cup we weren't actually aware of the guideline, Don pointed it out after we hade them made.

Personally I prefer lower case, the less upper case, camel case, and Pascal case in the source code the better I like it.  However I don't get to decide these things.

[2016-05-20 18:58] ReedCopsey commented on #61
Note that, while working on this, I also discovered:

`P:` on properties references
`M:` on method references
`exceptions tag` errors when exception references exist.

Adding these to things to cleanup.

[Also cleaning up code samples while editing these docs - many are in rough shape, like the main array page.]

[2016-05-20 19:01] smoothdeveloper opened #68 "post "PR merge" hook to send link to live page"
When a PR is merged to "live", it would be helpful in the reply to have the links to the affected pages in the notification email / github comment.

[2016-05-20 19:02] dend commented on #68
Good call. Let me work on that.

[2016-05-20 19:34] ReedCopsey opened #70 "Best way to format output"
In my last PR, I moved a lot of "output" results into code blocks (which matched some portions of the code), but the formatter highlights them.

Is there a way to force it to *not* syntax highlight? My understanding, from every markdown tutorial, is that using triple back ticks without a language won't format, but that's not the case. For example, see the output here: https://msdn.microsoft.com/en

[2016-05-20 19:50] smoothdeveloper commented on #61
First things first:

@ReedCopsey

It seems important that we do those things in a way which will enable easily to update yet again those references to point to the actual msdn reference page for those types, what is the process?

For the specifics of T,U or T,T2 etc. I guess we need @dsyme input (@dend/@dsyme can we put that in a rough list in readme.md? it will impact many contributions).

@dend

[2016-05-20 19:53] smoothdeveloper commented on #68
@dend awesome! it frankly don't have to work in 100% of case, just a first pass.

If you can make that as a .fsx script even better but whatever floats your boat :smile: if possible share the implementation in this repository!

[2016-05-20 19:58] smoothdeveloper commented on #70
@ReedCopsey, I'd suggest we use explicit languages everywhere  as if it was github (we need the list, and it would be great if it was compatible with github flavor until we get our own "run live docs locally").

This will be easier to correct later if that's not the correct approach, and it seems the most effective.

In my changes, I assumed fsharp would be default but I'd actually prefer to be ex

[2016-05-20 20:06] smoothdeveloper commented on #61
Thinking for myself on that, maybe we can have an index of all symbols (based on C# nameof) in all libraries, and perform substitution against fully qualified names appearing inline in the textual contents?

It could be computationally expensive to process, but I've heard about Azure (and MS has an account there) and Mbrace, this could be a good show-case :smile:

I somehow believe, in absence of

[2016-05-20 20:08] dend commented on #61
I have #57 open and assigned to myself regarding guidelines and help.

[2016-05-20 20:11] ReedCopsey commented on #70
I'm fine with that.  The problem is more when there isn't a language. It
doesn't seem to infer f#, but it's still doing _something_.

Does anyone know what would happen if we put am unknown language? I'd
actually like to do "output" or something... could be useful later for
styling if it's ignored now.

[2016-05-20 20:22] smoothdeveloper commented on #70
styling if it's ignored now.

If anything on same line and sticked to the trip backquotes could be ignored until it settles, it would be good, great suggestion!

[2016-05-20 20:36] smoothdeveloper opened #71 "eye-candy use FSharp.Formatting to process snippet files"
It would be awesome to have outstanding pretty printing done by @tpetricek FSharp.Formatting project on all F# snippets.

I think for newcommers to the language and with the type inference, this is going to be an important element to make the docs pretty.

Referencing #19 #58

[2016-05-20 20:38] smoothdeveloper commented on #36
Should it be "quickfixed" first with a pass replacing all "more than 3 consecutive empty lines" with "2 consecutive empty lines" across the repository, and later taken care in a more fine-grained manner?

[2016-05-20 20:53] ReedCopsey commented on #36
@dend and @smoothdeveloper I have an idea (after my last round of edits, thought of something) - going to try something with this...

[2016-05-20 21:29] dend commented on #36
@ReedCopsey let me know where you land with with, I might just write a C#/Python script to do a run-through and fix the formatting.

[2016-05-20 22:05] ReedCopsey commented on #36
@dend Done - PR coming shortly.  It's a big one, though.

[2016-05-20 22:11] ReedCopsey commented on #36
@dend FYI: This took a bit longer because I kept running across edge cases.  My "rule" here was to process all files looking for pairs of triple back ticks, and removing all but one blank line above the first, and all blank lines after, and all blank lines before the 2nd, and all but one after.  This takes it down but still leaves a blank line before and after each code sample (and none inside, ot

[2016-05-20 22:34] ReedCopsey commented on #36
@vasily-kirichenko and @dend I believe this can be closed now.

[2016-05-20 22:44] smoothdeveloper commented on #36
I know it is merged, but I'm still reviewing...

[2016-05-23 23:58] KevinRansom opened #81 "Exceptions tag is not supported!!!!The result sequence."
This page has the text:
exceptions tag is not supported!!!!The result sequence.

https://msdn.microsoft.com/visualfsharpdocs/conceptual/seq.map%5b%27t%2c%27u%5d-function-%5bfsharp%5d

[2016-05-24 00:03] ReedCopsey commented on #81
There are actually a lot of these.  Also, code tags not supported.  Trying to clean them up as I go through the "bad translation" stuff from the XML doc comments as part of #61 .

[2016-05-24 00:32] dend commented on #81
@KevinRansom @ReedCopsey Yup. Looking at some of those now.

[2016-05-24 00:47] dend opened #82 "F# Article on TechNet"
This takes the first hit on Bing and the second one on Google:
[Using Visual Studio to Write F# Programs](https://technet.microsoft.com/en-us/systemcenter/dd233169%28v=vs.90%29.aspx)

This should not be available and should redirect to [the main page in the new docs](https://msdn.microsoft.com/visualfsharpdocs/conceptual/using-visual-studio-to-write-fsharp-programs).

[2016-05-24 00:54] smoothdeveloper commented on #82
Do we have this content (which might not be most up-to-date but still) in this repository?

[2016-05-24 01:02] dend commented on #82
@smoothdeveloper Yep, the URL for the new file is the name of the `.md` representation in the repo.

[2016-05-24 01:14] smoothdeveloper commented on #82
@dend sorry got it, I mistakenly took the link to the doc as "it should point to the homepage" :)

[2016-05-24 01:15] dend commented on #82
@smoothdeveloper no, it's more something that we need to fix on our side to properly redirect to the new doc.

[2016-05-25 00:18] ReedCopsey commented on #35
@dend Note that in Firefox it also renders poorly (though differently than Chrome or IE/Edge)

[2016-05-25 15:44] dend commented on #35
@ReedCopsey noted, thanks for the heads-up. Our engineers are working on some tweaks to the CSS that will be deployed later.

[2016-05-25 19:12] ReedCopsey opened #92 "Extra "level" in TOC"
The TOC current is structured as "Visual F#" / "Visual F# Development Portal" / "... all content ... "

Can we eliminate one (or both) of the two "top level" elements of the tree? Having to click through both adds no value.

![image](https://cloud.githubusercontent.com/assets/5280922/15553017/fdb1f99e-2271-11e6-9b59-56720a198204.png)

[2016-05-25 19:44] dend commented on #92
Development portal has content in it, so does the Visual F# page. Don't think it's something that we can get rid off.

Would love to have @KevinRansom @dsyme to chime in on this.

[2016-05-25 19:49] ReedCopsey commented on #92
There's a lot of duplication in there - it seems like "Development Portal"
could easily be folded into "Visual F#" to make one page,and eliminate an
entire "level" of the tree.

On Wed, May 25, 2016 at 12:44 PM, Den Delimarsky <notifications@github.com>
wrote:

[2016-05-25 20:56] cartermp commented on #92
I believe both top-level nodes in the TOC provide value, but I do think that this child structure is a bit odd.  I think it would be good to flatten the TOC:

[code]

This is why I think that.

The "Visual F#" top-level TOC item feels like more of a "walkthrough of cool things about F#".  This is useful information, especially if people want some quick motivation for why they might pick F#.  I don

[2016-05-25 20:58] ReedCopsey commented on #92
I wouldn't mind @cartermp 's option here - my main "gripe" is that it's adding an extra parent in the hierarchy to everything, which makes browsing odd - things get indented in the tree one extra time, which seems unnecessary.

Having it as the top page, but at the same level in hierarchy as "Guided Tour" makes sense.

[2016-05-26 07:25] vasily-kirichenko opened #96 "Plane text is formatted as code snippet"
https://msdn.microsoft.com/visualfsharpdocs/conceptual/match-expressions-%5bfsharp%5d

![image](https://cloud.githubusercontent.com/assets/873919/15566924/2e3dea9a-232c-11e6-8793-466b0fea92e0.png)

and here https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/units-of-measure-[fsharp]

![image](https://cloud.githubusercontent.com/assets/873919/15567011/a1b1430a-232c-11e6-9a0d-0d700502b53f.

[2016-05-26 07:28] vasily-kirichenko opened #97 "Strings, comments and types are colored the same"
https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/units-of-measure-[fsharp]

![image](https://cloud.githubusercontent.com/assets/873919/15566978/7c557e32-232c-11e6-9f7a-ab62bc78ccdb.png)

[2016-05-26 07:31] vasily-kirichenko opened #98 "Broken link in "Lazy Computations""
https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/lazy-computations-[fsharp]

at the end

![image](https://cloud.githubusercontent.com/assets/873919/15567064/e11abb84-232c-11e6-9ce0-678a65329dec.png)

[2016-05-26 07:33] vasily-kirichenko opened #99 "Massive wrong indentation in snippets, plane text is formatted as code"
https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/let-bindings-[fsharp]

![image](https://cloud.githubusercontent.com/assets/873919/15567128/3bd32192-232d-11e6-8e35-dc593ac748b9.png)

[2016-05-26 07:35] vasily-kirichenko opened #100 ""ms.assetid" thing in "Lambda Expressions" article"
https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/lambda-expressions-the-fun-keyword-[fsharp]

![image](https://cloud.githubusercontent.com/assets/873919/15567175/78e55960-232d-11e6-8f02-a7bf76df3e3f.png)

Also in https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/recursive-functions-the-rec-keyword-[fsharp]

[2016-05-26 07:38] vasily-kirichenko opened #101 "Artifacts in snippets in "External Functions""
https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/external-functions-[fsharp]

![image](https://cloud.githubusercontent.com/assets/873919/15567255/ee69cc2a-232d-11e6-9eda-7e64488fed5e.png)

[2016-05-26 07:40] vasily-kirichenko opened #102 "T:System.String in "Strings" and "Tuples" articles"
https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/strings-%5bfsharp%5d

![image](https://cloud.githubusercontent.com/assets/873919/15567314/4a373966-232e-11e6-9f5d-a90e04b15bc6.png)

also at the bottom

![image](https://cloud.githubusercontent.com/assets/873919/15567334/6be4be30-232e-11e6-948a-d4d364419d17.png)

and in Tuples article https://msdn.microsoft.com/en-us/visualfsharpdocs/con

[2016-05-26 07:45] vasily-kirichenko opened #103 "Wrong table formatting in "Computation Expressions" article"
https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/computation-expressions-[fsharp]

![image](https://cloud.githubusercontent.com/assets/873919/15567403/ec49fb1c-232e-11e6-9d6e-492a449b3d11.png)

/cc @ReedCopsey

[2016-05-26 07:51] vasily-kirichenko opened #104 "A paragraph is all in bold font in "Asynchronous Workflows" article"
https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/asynchronous-workflows-[fsharp]

![image](https://cloud.githubusercontent.com/assets/873919/15567562/c82f1c48-232f-11e6-8f5e-d89c9ac81778.png)

/cc @ReedCopsey

[2016-05-26 07:53] vasily-kirichenko opened #105 "Code is not formatted as snippet in "Flexible Types" article"
https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/flexible-types-[fsharp]

![image](https://cloud.githubusercontent.com/assets/873919/15567636/0d486898-2330-11e6-823e-d19f861dda70.png)

[2016-05-26 07:59] vasily-kirichenko commented on #99
Also in "Code formatting guidelines" https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/code-formatting-guidelines-[fsharp]

![image](https://cloud.githubusercontent.com/assets/873919/15567764/d8d3c778-2330-11e6-8932-9a9dfbbaa633.png)

[2016-05-26 08:01] vasily-kirichenko opened #106 ""Overload:" artifact in "Assertions" article"
https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/assertions-[fsharp]

![image](https://cloud.githubusercontent.com/assets/873919/15567815/16443ae8-2331-11e6-8c7d-c34ae9773a83.png)

I'm not sure, but it seems that `Overload:System.Diagnostics.Debug.Assert` should be a link.

[2016-05-26 14:47] ReedCopsey commented on #102
This is a duplicate of #61. I'll get it eventually with those cleanups.
On May 26, 2016 12:40 AM, "Vasily Kirichenko" <notifications@github.com>
wrote:

[2016-05-26 16:11] dend commented on #92
I would be somewhat against merging them into one, but I would be OK with "flattening" the structure, similarly to what @cartermp suggested.

[2016-05-26 18:17] ReedCopsey commented on #106
I'll add "Overload:" to the list of bad prefixes I remove in #61

[2016-05-26 18:17] ReedCopsey commented on #61
I'll also remove "Overload:" prefixes while I do these cleanups.

[2016-05-26 18:51] ReedCopsey commented on #106
@dend or @vasily-kirichenko Please close this now. Fixed.

[2016-05-26 18:51] ReedCopsey commented on #105
@dend or @vasily-kirichenko Please close this now - Fixed.

[2016-05-26 18:55] dend commented on #106
@ReedCopsey there looks to be a note formatting issue. I will fix that and will update the bug after.

[2016-05-26 18:56] dend commented on #105
Looks good, thanks @ReedCopsey

[2016-05-26 18:56] #105 closed

[2016-05-26 18:57] ReedCopsey commented on #106
@dend So - are the braces actually required?

[2016-05-26 18:59] dend commented on #106
@ReedCopsey nope, it's the location of the exclamation mark and the prefix.

[2016-05-26 19:05] ReedCopsey commented on #106
@dend Does it need a space between the `>` and `!` ? I'll submit a PR to fix, if that's the issue.

[2016-05-26 19:08] ReedCopsey opened #115 "Workflow question -"
Just a general comment - Is there a reason the workflow is "submit a PR against _live_", and then live gets merged into master?  It would be much easier to do it the other way around.

This actually creates extra steps for people submitting pull requests.  By default, GitHub will setup a PR against master, even if you write changes against live. Having the workflow the way it is causes extra steps

[2016-05-26 19:17] ReedCopsey commented on #97
@dend This is something that needs to be fixed in the formatting for code snippets.  We could work around this by putting comments on their own lines in the snippet, but that would only be a temporary workaround.

[2016-05-26 19:52] ReedCopsey commented on #92
Flattening would be good with me - I'm not sure how this would be done, however, given the files in the repo... I suspect it's something outside of the community content.

[2016-05-26 19:57] cartermp opened #119 "Values column not wide enough in Core.Operators table"
Will this also be considered in the fix for #35?

This section: https://msdn.microsoft.com/visualfsharpdocs/conceptual/core.operators-module-%5bfsharp%5d#values

Looks like this on my laptop:

<img width="395" alt="screen shot 2016-05-26 at 12 50 27 pm" src="https://cloud.githubusercontent.com/assets/6309070/15587991/a6974568-2340-11e6-8917-3a43cbd90ecc.png">

And looks like this on my desktop:

!

[2016-05-26 19:59] ReedCopsey commented on #119
My understanding is that there was going to be a "global" change to the css
to fix table formatting.  Hopefully it will correct all of these pages, as
there's nothing in the page itself that should cause this to be a problem.

I think #35 will solve this one, and this is effectively a duplicate of
that issue.

On Thu, May 26, 2016 at 12:57 PM, Phillip Carter <notifications@github.com>
wrote:

[2016-05-26 20:02] cartermp commented on #119
Sounds good.

[2016-05-26 20:02] #119 closed

[2016-05-26 21:08] cartermp commented on #92
AFAIK it can be done [just by editing the TOC file](https://github.com/Microsoft/visualfsharpdocs/blob/master/docs/conceptual/TOC.md).  All doc files are in the same repo, so the relative links should still all work.

[2016-05-26 21:16] KevinRansom opened #120 "Question about arranging the files"
Hey Den,

so the arrangement of files in the repo is pretty difficult to use, especially given github's limit of one thousand displayed files.

Would it be achievable to start to re-arrange the files into a hierarchy ... for example
all files that begin with array- go into a folder called array, all files beginning array2d go into a subfolder of that called array2d ... etc ..

Re-arranging the fil

[2016-05-26 21:39] ReedCopsey commented on #120
It would be nice to reorganize it if possible.

[2016-05-26 22:11] cartermp commented on #120
My suggestion would be to organize the folder structure to follow the TOC.  In [dotnet/core-docs](https://github.com/dotnet/core-docs) we defined a separate folder structure and I'm always struggling to remember where the physical file is versus how I navigate to an article from the TOC.

[2016-05-27 21:28] ReedCopsey opened #122 "Colon placement w.r.t. bold"
As noted by @Vandroiy here: https://github.com/Microsoft/visualfsharpdocs/pull/121#discussion_r64967978

The conversion tooling placed colons _inside_ of the bold, and technically it should be outside. I recommended he not change it in his PR (to match the majority of the docs).

However, I would be willing to modify my previous scripts to fix this across the repository.  Would it be better to fol

[2016-05-27 21:37] Vandroiy commented on #122
Actually... I'm not even sure I'm reading the recommendation right and changed my PR already.

[Here's a StackExchange question on this](http://writers.stackexchange.com/questions/14157/do-you-bold-punctuation-directly-after-bold-text), and there's an exception "for punctuation that belongs to a title"

I only did this because I didn't look at enough files to see that the one with non-bold colons

[2016-05-27 21:40] ReedCopsey commented on #122
@Vandroiy Reading that SO question would suggest the current version is correct, since these are effectively "titles".  Going to close this.

[2016-05-27 21:40] #122 closed

[2016-05-27 21:51] Vandroiy commented on #122
Thanks and sorry about this, it was sloppy editing on my part. (I also did this in the formatting edits on my previous PR on map addition; I'll revert that too.)

[2016-05-27 23:04] Vandroiy opened #123 "Authoritative formatting guidelines/example"
I have no idea how to format files correctly. There are just too many inconsistencies and broken pieces to infer how it's supposed to look. I think guidelines or correctly formatted examples would help.

For example: What heading levels are used for what content? How are exceptions documented? How is code or output indented? Are return values really supposed to be written in bold, without caption,

[2016-05-27 23:10] ReedCopsey commented on #123
This was self-assigned by @dend in #57 - This is effectively a duplicate of that issue.

[2016-05-27 23:23] Vandroiy commented on #123
@ReedCopsey Argh, how did I miss that? Sorry, I should get enough sleep before posting. I better call if quits for now before I flood the place.

[2016-05-29 16:04] dend commented on #123
@Vandroiy thanks for bringing this up to our attention! As @ReedCopsey already mentioned, I am working on it. I started some parts of that in the [Wiki](https://github.com/Microsoft/visualfsharpdocs/wiki/Authoring-documentation). Check out the sidebar for details, more to come.

[2016-05-29 16:04] #123 closed

[2016-05-29 16:07] dend commented on #120
Assigning this to myself to investigate further - marking it out for August to give plenty of time to figure out the redirection policies and whatnot.

[2016-05-29 16:10] dend commented on #97
I'll bring this up to the attention of the engineering team - seems like we can make some improvements to the syntax highlighting engine.

[2016-05-29 16:11] dend commented on #119
@ReedCopsey @cartermp correct.

[2016-05-29 16:11] dend commented on #92
Structure-wise this is really a TOC change, as long as you don't touch the locations of the files.

[2016-05-29 19:46] #101 closed

[2016-05-29 19:46] #106 closed

[2016-05-30 00:55] dend commented on #98
Looks like @ReedCopsey fixed that with his PR. Thank you both!

[2016-05-30 00:55] #98 closed

[2016-05-30 00:56] dend commented on #96
@ReedCopsey fixed that. Thanks both once again!

[2016-05-30 00:56] #96 closed

[2016-05-30 00:57] dend commented on #104
Fixed in #128

[2016-05-30 00:57] #104 closed

[2016-05-30 00:58] dend commented on #103
Fixed in #128

[2016-05-30 00:58] #103 closed

[2016-05-30 00:58] dend commented on #102
Fixed in #128

[2016-05-30 00:58] #102 closed

[2016-05-30 00:58] dend commented on #100
Fixed in #128

[2016-05-30 00:58] #100 closed

[2016-05-30 00:58] dend commented on #99
Fixed in #128

[2016-05-30 00:58] #99 closed

[2016-05-30 05:05] dend commented on #40
Fixed with f38eaa3fb447990da9ca0b8406bb4c6c30215a2a.

[2016-05-30 05:05] #40 closed

[2016-05-30 05:07] dend commented on #36
Closing this for now. If there are any articles that have this issue, feel free to re-open an issue with the specific article mentioned.

[2016-05-30 05:07] #36 closed

[2016-05-30 05:08] dend commented on #57
Fixed. There is now a page in the wiki.

[2016-05-30 05:08] #57 closed

[2016-05-31 18:28] dend commented on #115
Master is the experimental branch for us currently, where everything resides. `live` is the branch that fetches public content that is live on MSDN. You could issue PRs against `master`, but that means we will still have to propagate changes to `live` to make sure that those are public.

[2016-05-31 21:17] dend commented on #63
The reason why all pages have me as an author is because I was the one that originally published them on GitHub - it doesn't necessarily reflect the first author.

Ultimately this makes little difference in terms of attribution, as both myself and Don are part of the Microsoft org - as you can see for new docs (e.g. when @ploeh added his work), we properly display the author.

[2016-05-31 22:12] dend commented on #62
Fixed, thanks for the report!

[2016-05-31 22:12] #62 closed

[2016-06-01 17:20] KevinRansom opened #136 "Bold tags in text are not correctly displayed"
https://msdn.microsoft.com/visualfsharpdocs/conceptual/properties-%5bfsharp%5d

In the remarks section at this text:  it's probably quite systemic.

Private values that hold the data for properties are called *backing stores*. To have the compiler create the backing store automatically, use the keywords **member val**, omit the self-identifier, then provide an expression to initialize the property

[2016-06-01 17:21] KevinRansom commented on #136
Oh the text is incorrectly specified as code for a few paragraphs.

[2016-06-01 17:24] dend commented on #136
Assigning to myself to fix.

[2016-06-01 17:39] dend commented on #136
@KevinRansom should be fixed in #137 - please validate and I will merge it.

[2016-06-01 18:40] dend commented on #136
Fixed with #137 and validated.

[2016-06-01 18:40] #136 closed

[2016-06-01 22:17] dend commented on #81
@KevinRansom @ReedCopsey identified a way to fix those. Working on it. Current batch in #140.

[2016-06-02 17:00] dend opened #142 "Automated validation of PR against a set of pre-defined guidelines"
We have @orcabot for that - currently working on fully extending it and will update the issue once it's deployed.

[2016-06-02 20:04] dend commented on #142
@orcabot is now in action at #148

[2016-06-02 22:35] dend commented on #142
@orcabot can now merge PRs with the help of approved community members (see #150)

[2016-06-02 22:46] KevinRansom opened #151 "Inconsistent use of bold text in literals examples column"
As you can see in this image, some literal examples are bold, others are shy.

![untitled](https://cloud.githubusercontent.com/assets/5175830/15763459/0c13817a-28d9-11e6-86e2-965efb768086.png)

https://msdn.microsoft.com/visualfsharpdocs/conceptual/literals-%5bfsharp%5d

[2016-06-02 23:49] dend commented on #151
This fix will go live as part of #154 (already have it there). Thanks for the report!

[2016-06-02 23:49] #151 closed

[2016-06-03 07:01] ChrSteinert opened #157 "The `with` keyword is missing documentation for record "manipulation""
The `with` keyword has multiple meanings in F# like Match or Type Expressions. The documentation for that is aggregated here: https://github.com/Microsoft/visualfsharpdocs/blob/live/docs/conceptual/keyword-reference-[fsharp].md
What seems to be missing (or I was not able to find it) is the documentation for the record manipulation/copying syntax. This is, what F# for fun and profit writes about he

[2016-06-03 16:19] dend commented on #157
@KevinRansom @ReedCopsey - what do you think?

IMO this sounds like something you (@chrsteinert) can submit a PR for.

[2016-06-03 16:31] ChrSteinert commented on #157
I agree. Would love to, yet need to know how it is called! :DAlso I'd like to get some guidance on where to put it etc.

On Fri, Jun 3, 2016 at 9:19 AM -0700, "Den Delimarsky" <notifications@github.com> wrote:

@KevinRansom @ReedCopsey - what do you think?

IMO this sounds like something you (@chrsteinert) can submit a PR for.

---
You are receiving this because you were mentioned.
Reply to this e

[2016-06-03 16:54] ReedCopsey commented on #157
It's called a "copy and update record expression" (whew, that's a
mouthful!).

It's currently documented here:
https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/records-[fsharp]

I agree it's be nice to add to keywords.

Reed
On Jun 3, 2016 9:31 AM, "Christian Steinert" <notifications@github.com>
wrote:

[2016-06-04 07:31] ChrSteinert commented on #157
What should I take for the `ms.assetid`?

[2016-06-04 07:41] dend commented on #157
Are you creating a new article or adding content to the existing one?

If it's an existing article, the asset ID should be the same as it is today. If it's a new article, simply generate a new GUID and use it as the ID.

[2016-06-06 18:46] dend commented on #81
This should be covered by #163 to fix all exception errors.

Once the PR is merged, I will close this.

[2016-06-06 20:54] dend commented on #39
Once my current PR will be merged, I will create a new PR with the release notes.

[2016-06-06 21:09] dend commented on #81
PR has been merged.

[2016-06-06 21:09] #81 closed

[2016-06-06 21:17] dend commented on #39
This is covered by #164 - @eriawan @cartermp @KevinRansom - please review.

[2016-06-06 21:23] dend commented on #5
License is now included in the repo.

[2016-06-07 16:48] #157 closed

[2016-06-07 17:18] dend commented on #39
This is now live on our doc site: https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/whats-new-in-visual-fsharp

[2016-06-07 17:18] #39 closed

[2016-06-07 18:59] dend commented on #5
Added the code license as well in the repo.

[2016-06-07 18:59] #5 closed

[2016-06-12 13:02] eriawan commented on #39
@dend you got me quicker to submit the PR :)

apologize I was busy in the middle of some dev works. thanks, I'm reviewing it now.

[2016-06-13 08:31] ant0nsc opened #180 "Documentation for Seq.tail is missing"
The latest FSharp libraries added `Seq.tail` in the `Collections.Seq` module. Source code is [here](https://github.com/fsharp/fsharp/blob/37a100b7caafde0f4df5a1924c9f65f4a18277a8/src/fsharp/FSharp.Core/seq.fs#L1794) However, the documentation is still missing for it.

[2016-06-13 16:56] dend commented on #180
@cartermp @KevinRansom can you comment?

[2016-06-13 17:40] KevinRansom commented on #180
@ant0nsc good eyes.  We would be happy to take a contribution adding the documentation for this Api.  I expect that there are other new api's that are also missing documentation.

I'm sure that @cartermp and @dend would be able to help

Also marking this issue up for grab.

Kevin

[2016-06-16 17:45] #180 closed

[2016-06-16 18:00] liboz commented on #180
So, as this issue mentions, there are many other functions that are missing from the docs.

I did a little bit of research and think most of the ones added in F# 4.0 haven't had docs made yet (https://github.com/fsharp/FSharpLangDesign/blob/master/FSharp-4.0/ListSeqArrayAdditions.md). Should I create a new issue for updating the docs for all the new functions or maybe it's easier to update this is

[2016-06-16 18:24] dend commented on #180
@liboz I would recommend creating a new issue for the doc set that you mentioned.

[2016-06-16 18:56] liboz opened #184 "New functions added to List, Array, Seq modules in F# 4.0 are missing Docs"
Many new functions were added in F# 4.0: https://github.com/fsharp/FSharpLangDesign/blob/master/FSharp-4.0/ListSeqArrayAdditions.md. Most of them do not have documentation yet.

[2016-06-22 13:36] liboz commented on #184
Here's the list of functions that still need docs:

| Name | Documentation Finished|
| ------------- | ------------- |
| List.contains | NO |
| Array.contains | NO |
| Seq.contains | NO |
| List.chunkBySize | NO |
| Array.chunkBySize | NO |
| Seq.chunkBySize | NO |
| List.compareWith | NO |
| Array.compareWith | NO |
| List.countBy | NO |
| Array.countBy | NO |
| List.distinct | NO |
| Array.disti

[2016-06-22 15:43] cartermp commented on #184
Thanks for putting this table together @liboz!

[2016-06-22 16:09] liboz commented on #184
I plan on making at least some of the docs that are missing. Should I make multiple pull requests (something like one for each group of functions, i.e. List.contains, Array.contains, Seq.contains) or one big pull request or is there some other method that would be preferred?

[2016-06-22 17:05] dend commented on #184
@liboz as soon as you have a new article, issue a PR. Unless you have 7 ready at once, one-by-one is fine and we'll make sure to review and merge them properly.

[2016-06-25 11:44] KevinRansom opened #188 "Collections.Array Module documentation does not have the signature for Array.contains"
This page here is missing Array.contains:  https://msdn.microsoft.com/visualfsharpdocs/conceptual/collections.array-module-%5bfsharp%5d

Array.contains : 'T -> 'T [] -> bool

This page is missing List.contains:
https://msdn.microsoft.com/visualfsharpdocs/conceptual/collections.list-module-%5bfsharp%5d

List.contains : 'T -> 'T [] -> bool

This page is missing Seq.contains

Seq.contains : 'T -> 'T

[2016-06-28 19:56] dend opened #191 "Add TOC items for new content"
https://github.com/Microsoft/visualfsharpdocs/pull/187

[2016-06-30 06:10] eriawan commented on #184
@cartermp @dend
I already create a PR #193 for this, especially for new APIs (functions) in the What's new in F# MD. Please review it guys :)
If you are OK with this, don't merge it yet. I'll continue to do the doc writings.

[2016-06-30 06:12] eriawan commented on #184
Maybe we could combine with the works from @liboz :)

[2016-06-30 23:28] smoothdeveloper commented on #115
Could we somehow setup the default branch in github to `live`?

I think this will fix the issue of `master` being picked by default when submitting a PR (which is what I mistakenly did on #195).

[2016-06-30 23:32] ReedCopsey commented on #115
Client programs will always default to `master` - so if you use github for windows, sourcetree, etc - you'll get master.

[2016-07-01 14:44] dend commented on #115
At the end of the day, it's not a big deal - I do cross-syncs for both branches, so your content will go to `live` regardless of where you submit it. The general guideline is just to make sure that your content is in production faster 😄

[2016-07-05 16:10] dend commented on #191
Should be done.

[2016-07-05 16:10] #191 closed

[2016-07-09 14:10] liboz commented on #188
@KevinRansom Hey Array/List/Seq.contains all are on the module pages now after pull request #217. However, the links don't work yet because the GUIDs in the meta data for the individual documentation aren't linked yet. Not sure what needs to be done to fix that.

[2016-07-17 14:46] liboz opened #225 "Use keyword page has display bugs"
The meta information is displaying as raw info: https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/resource-management-the-use-keyword-%5Bfsharp%5D

[2016-07-17 14:49] liboz opened #226 "GUID/assetid links do not work"
For example for List.contains the first link, which uses the List.contains' assetid/GUID, does not work, but the second link directly to the file does work.

https://msdn.microsoft.com/library/52f70370-0c04-4823-bc6e-e92b60369420
https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/list.contains%5b't%5d-function-%5bfsharp%5d

Currently the assetid/GUID link is used on the collections.modul

[2016-07-18 11:20] mrakgr opened #227 "Missing indentation for the Event examples"
The indentation for the examples on the [Events page](https://github.com/Microsoft/visualfsharpdocs/blob/live/docs/conceptual/events-[fsharp].md) is squished. It is squished for the later examples on the main [MSDN page](https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/events-%5Bfsharp%5D) as well.

[2016-07-18 16:32] dend commented on #227
@cartermp @KevinRansom @ReedCopsey - can you guys please look into this?

[2016-07-18 16:44] dend commented on #225
Good catch, fixed this in the latest commit.

[2016-07-18 16:44] #225 closed

[2016-07-18 16:46] dend commented on #226
You should not reference the doc by the GUID declared in the metadata - that is for reference purposes only. Instead, you should use relative links (use simple link Markdown syntax) using the name of the file.

[2016-07-18 16:46] #226 closed

[2016-07-18 17:48] liboz commented on #226
@dend Does this apply even though the pre-existing links in say the [Collections.array module ](https://github.com/Microsoft/visualfsharpdocs/blob/master/docs/conceptual/collections.array-module-[fsharp].md) file use GUID links? That is to say if I were to add a new entry like `Array.distinct`, I should have it use a link to `array.distinct['t]-function-[fsharp].md`?

[2016-07-18 17:51] cartermp commented on #227
Yep, I'll take care of this.

[2016-07-18 18:30] dend commented on #227
Merged fix. Thanks @cartermp

[2016-07-18 18:30] #227 closed

[2016-07-18 18:31] dend commented on #226
@liboz correct. GUIDs that you see are GUIDs that point to older MSDN docs. Current conventions are using the file names (make sure to URL-encode those).

[2016-07-20 13:43] bleis-tift opened #235 "link notation in code doesn't work"
See [the Syntax section in this page](https://msdn.microsoft.com/visualfsharpdocs/conceptual/map.isempty%5b%27key%2c%27value%5d-property-%5bfsharp%5d) or [this code](https://github.com/Microsoft/visualfsharpdocs/blob/master/docs/conceptual/map.isempty%5b%27key%2c%27value%5d-property-%5bfsharp%5d.md).

[2016-07-22 00:26] dsyme opened #238 "type provider documentation"
I got sent a query about type provider documentation on the MSDN pages and thought I'd record my reply here for visibility:

----

As a meta point, we should always distinguish between

1.	Type providers as a general F# language feature

2.	The specific set of OData, SQL and WSDL type providers in ``FSharp.Data.TypeProviders.dll``

The language feature itself is in good shape and we have an excell

[2016-07-25 19:15] hanpari opened #244 "Core.Choice<'T1,'T2> Union (F#)"
I would suggest to add some example and/or scenario where are those helpers suppose to be used.

I checked quickly stackoverflow and seems to me nobody has good idea what are those for.

http://stackoverflow.com/questions/16711933/use-case-for-f-choice-type

[2016-07-27 11:16] urbanhop opened #248 "Docmentation of the & operator"
https://github.com/Microsoft/visualfsharpdocs/blob/live/docs/conceptual/symbol-and-operator-reference-[fsharp].md

says that the **& operator** has 2 uses:

1. Computes the address of a mutable value, for use when interoperating with other languages.
2. **Used in AND patterns**.

If the second point correct? How would you use & in an "AND" pattern?

[2016-07-27 14:36] kbattocchi commented on #248
Yes, it's correct.  Here's a (pointless) example:

    let ((x,_) & (_,y)) = ('a',0)

[2016-07-27 14:43] urbanhop commented on #248
bingo, thx.

[2016-07-27 14:43] #248 closed

[2016-07-31 21:52] smoothdeveloper opened #249 "bitwise OR operator ||| escaped wrong"
The `|||` operator is not visible on this page:

https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/bitwise-operators-%5Bfsharp%5D?f=255&MSPPError=-2147217396

I'm not sure how to go about fixing the markup but it seems it should rather be the mardkown parser which needs a fix.

[2016-08-02 12:06] eriawan opened #250 "Documentation for Async.CancellationToken and Async.DefaultCancellationToken shows incorrect support release"
The current documentation for Async.CancellationToken and Async.DefaultCancellationToken shows that it is available in F# 2.0, not just F# 4.0 and portable (this information is under the section of "**Version Information**").

For example: https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/async.defaultcancellationtoken-property-%5bfsharp%5d

CancellationToken is not supported in F# 2.0.

[2016-08-09 04:55] eriawan commented on #250
@dend , @cartermp

just a reminder, have you reviewed this issue?

[2016-08-12 05:42] cartermp commented on #249
This is getting fixed in our migration over to docs.microsoft.com.

It's actually a common problem in markdown, rendering `|` as code in a table.  The solution is to wrap `<code>` blocks around the HTML escape characters.  Here's how it looks on our staging server:

<img width="792" alt="screen shot 2016-08-11 at 10 41 46 pm" src="https://cloud.githubusercontent.com/assets/6309070/17613701/e620e3e

[2016-08-14 07:27] tatsuyafujisaki opened #253 "WsdlService Type Provider sample not compilable"
In [this document](https://github.com/Microsoft/visualfsharpdocs/blob/live/docs/conceptual/walkthrough-accessing-a-web-service-by-using-type-providers-[fsharp].md), the following code shows an error because of too many double quotation marks.

[code]

[2016-09-14 11:55] tomcl opened #255 "Member documentation tables are too wide to display"
https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/control.async-class-%5Bfsharp%5D

For example this page, describing `Control.Async`, has a list of members as table where either the member name is cropped or the description is cropped when viewed in a window of any size in Chrome. In IE11 the cropping happens for smaller width windows only, but is still annoying.

[2016-09-16 08:39] eriawan commented on #238
@dsyme
I don't know exactly the widespread of OData, but afaik OData will release new version of Microsoft's ODataLIb after ODataLib v4. They even have plans for MS ODataLib to go beyond release 6, although OASIS still stays at OData v4.

What do you mean OData are basically obsolete?

[2016-09-16 15:22] dsyme commented on #238
@eriawan I mean the OData version supported by FSharp.Data.TypeProviders seems obsolete.  I believe  an entirely new OData type provider is needed, up-to-date with the latest version of the technology

[2016-09-17 05:27] eriawan commented on #238
@dsyme could I take a stab on this OData type provider to support latest OData on existing FSharp.Data.TypeProvider?

[2016-10-24 20:59] baronfel opened #262 "The page for explicit fields has incorrect formatting"
https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/explicit-fields-the-val-keyword-%5bfsharp%5d

There are a few issues I've seen:

1. The 'front matter' for generation has leaked into the header of this page
1. The namespace links in the 'warning' section don't link to any pages
1. The page title is the 'ms.assetid'

[2016-10-24 21:28] cartermp commented on #262
That page is deprecated in favor of this one: https://docs.microsoft.com/en-us/dotnet/articles/fsharp/language-reference/members/explicit-fields-the-val-keyword

(1) and (3) are fixed, and (2) aren't links - if you think that's helpful, feel free to create an issue or make a [PR on the doc](https://github.com/dotnet/core-docs/blob/master/docs/fsharp/language-reference/members/explicit-fields-the-v

[2016-10-24 21:28] #262 closed

[2016-10-24 21:30] baronfel commented on #262
Ah, perfect. I just ran across that link via google when digging into a question Sergey Tihon had.  Thanks for the corrected links.

[2016-10-24 21:33] cartermp commented on #262
No problem!  I guess redirects didn't pick this one up yet.  @dend, this page didn't seem to redirect properly.

[2016-10-28 00:11] dend commented on #262
Issued a fix for this, sorry about the inconvenience folks!

[2016-11-20 14:31] vasily-kirichenko opened #266 "Duplicated CustomOperationAttribute members"
https://msdn.microsoft.com/visualfsharpdocs/conceptual/core.customoperationattribute-class-%5Bfsharp%5D?f=255&MSPPError=-2147217396

![image](https://cloud.githubusercontent.com/assets/873919/20463567/19bf7d84-af47-11e6-88e7-1ce1583e00b5.png)

[2016-12-17 18:36] Korporal opened #270 "Identifiers"
Apologies if I am simply looking in the wrong place but I can't find documentation for the syntax of F# identifiers, I looked in the section about F# tokens but there's no mention of this.

Thx

[2016-12-17 23:47] cartermp commented on #270
@Korporal are you perhaps looking for [F# keywords](https://docs.microsoft.com/en-us/dotnet/articles/fsharp/language-reference/keyword-reference) or ['let' bindings](https://docs.microsoft.com/en-us/dotnet/articles/fsharp/language-reference/functions/let-bindings)?

[2017-02-05 19:21] yetanotherlogonfail opened #272 "List.scan<'T,'State> Function (F#) needs additional keywords"
List.scan<'T,'State> Function (F#) needs additional keywords

in the real world this function sounds like a running total or cumulative sum.

How would I find this List.scan page as a solution when searching for either of these terms?

If you create something new, that's fine and great, but you gotta say what its similar to, or the same as in the old terms or no ones knows.

[2017-03-14 12:35] eriawan commented on #184
@liboz

The list at the top needs to be updated, now we have accepted PR from @ErikSchierboom
This is the list for the updates:
- #277
- #278
- #279
- #280

cc @cartermp

[2017-03-14 18:23] ErikSchierboom commented on #188
I just checked, and as far as I can tell, the links are correctly displayed. So perhaps this issue could be closed?

[2017-03-14 19:37] #188 closed

[2017-10-01 19:41] chadunit opened #299 "MailboxProcessor docs using do! loop instead of return! loop"
Some of the snippets in the MailboxProcessor section (https://github.com/MicrosoftDocs/visualfsharpdocs/tree/live/docs/conceptual/snippets/fsmailboxprocessor) are using `do! loop` for their recursive calls.

It is my understanding that this is poor practice and `return!` should be used in these cases in order to avoid stack memory leaks.

I didn't check them all but a couple of instances are:

Thi

[2017-12-02 17:02] anoff opened #303 "Broken link at introduction-to-functional-programming-in-fsharp"
Hey 👋,

noticed a broken link for `Walkthrough: Your First F# Program` at
https://github.com/MicrosoftDocs/visualfsharpdocs/blob/live/docs/conceptual/introduction-to-functional-programming-in-fsharp.md

Not sure where the link should lead now so I can't PR :/

[2018-01-06 16:41] stroborobo opened #306 "Build on macOS/Linux broken"
Hey Team!

Do you think it'd be possible to get this to build on non-Windows systems?

I wanted to build a [Dash](https://kapeli.com/dash) docset for F#, but cannot build the HTML on my machine. I've modified the (downloaded) .openpublishing.buildcore.ps1 locally to use Mono's nuget and build paths using Join-Path instead of string literals, but I'm not done yet and don't know if there'll be a may

[2018-01-27 01:27] cartermp opened #307 "NOTE: frozen content"
Since docs.microsoft.com API reference content has been updated with preliminary F# signature support, all of this content which maps to MSDN is frozen. I don't have write access to this repo (must have been lost in the transfer from microsoft/visualfsharpdocs).

[2018-01-27 04:49] mairaw commented on #307
Your access issue should have been solved now 😊

The PR for the F# signatures on .NET API docs hasn’t been merged yet, but it should be soon.

[2018-01-27 05:38] cartermp commented on #307
Thanks @mairaw!

[2018-01-27 05:38] #307 closed

[2018-02-21 14:44] josselinauguste commented on #306
@stroborobo have you made any progress in your attempt to build a dash docset for this documentation? I was planning to do the same

[2018-02-21 16:29] stroborobo commented on #306
No, I kinda dropped it tbh. But an easier way than getting it to build would have been to just replace the custom markdown directives for the snippets (`[!code-fsharp[Main](path/to/snippet)`) with their content, rewrite some links (because case sensitivity is hard apparently) and then it's good for indexing and rendering I guess. Styles would still be missing of course though.

There's not going t

[2018-02-21 18:32] mairaw commented on #306
Not sure if the instructions for building the .NET docs are still working, but you could give it a try:
https://github.com/dotnet/docs/blob/master/CONTRIBUTING.md#building-the-docs

[2018-02-21 20:17] josselinauguste commented on #306
I can't build neither of the documentations :/

I'll start by trying to confirm with anyone involved in the documentation maintenance that the VisualFSharp documentation will actually migrate soon to the dotnet/docs repository, so I'll not have to do the job twice. To be continued...

[2018-02-27 01:53] dend commented on #306
Hi folks,

We will be decommissioning the documentation in this repo once we fully migrate content to the dotnet/docs repo. We are currently in the process of doing so.

Den

[2018-02-27 08:20] josselinauguste commented on #306
Great, so I'll wait for the documentation to be fully migrated :-)

[2018-03-12 10:32] stroborobo commented on #306
@josselinauguste It's not finished yet, but here's where I am right now: https://github.com/foobarius1/fsharp-docset

After the recent HN thread about live coding via stream I thought I'd start streaming myself learning F#. This is both my first personal F# project and my first stream: https://www.twitch.tv/videos/237940722

[2018-03-12 12:11] josselinauguste commented on #306
@stroborobo awesome idea! I'll have a look at it, ping me if you need some help 👍

[2018-05-11 16:04] hickford opened #310 "Missing documentation for List.allPairs"
Hi. https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/collections.list-module-%5Bfsharp%5D is missing documentation for the [List.allPairs function](https://github.com/Microsoft/visualfsharp/pull/989) introduced 2016

Documentation for Array.allPairs and Seq.allPairs is also missing

[2018-05-23 19:50] hickford commented on #184
Hi. Any progress? List.groupBy is missing documentation too at both https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/lists  and https://msdn.microsoft.com/visualfsharpdocs/conceptual/collections.list-module-%5bfsharp%5d

[2018-05-23 19:50] hickford commented on #184
List.allPairs is also missing documentation https://github.com/MicrosoftDocs/visualfsharpdocs/issues/310

[2018-05-29 08:29] larskinn opened #311 "Missing functions in Core.Option module"
In https://github.com/MicrosoftDocs/visualfsharpdocs/blob/live/docs/conceptual/core.option-module-[fsharp].md a lot of functions are missing.

I'm not sure which version these were introduced in, but all seem to be present in stable F# as of today. The codebase indicates that some of these have existed for 4+ years.

Functions missing documentation:
- `defaultValue`
- `defaultWith`
- `orElse`
- `o

[2018-09-13 15:13] ScottHutchinson commented on #184
I will try to help with this, but it seems to me that the people who added the new functions should add the documentation too. They would know best exactly how the function works and how to use it, etc.

[2018-11-29 19:36] voronoipotato opened #319 "Require Qualified Access documentation has an unclear definition."
https://github.com/MicrosoftDocs/visualfsharpdocs/blob/live/docs/conceptual/core.requirequalifiedaccessattribute-class-[fsharp].md

Require Qualified Access uses the word in the definition and therefore provides no useful information.

https://stackoverflow.com/questions/44462268/what-is-requirequalifiedaccess-attribute
I had to read stack overflow to figure out what this actually did.

# From F#

[2018-12-10 11:13] Andrew-Webb opened #320 "Conversion operators - missing document re. exceptions"
`Operators.int<^T>` and related (int16, int32, int64) can throw `System.FormatException` but this isn't documented.

[2019-01-20 17:03] eriawan commented on #250
@cartermp

Do you want me to move this issue to dotnet/docs instead? Please confirm.

[2019-02-12 14:51] #244 closed

[2019-02-28 11:03] eriawan commented on #250
@cartermp

any update on this issue? it's been more than 2 years 😞
or do I have to migrate this issue to MS Docs of .NET (dotnet/docs)?

[2019-04-18 12:30] jkonecki commented on #310
Hey Microsoft, it's nearly a YEAR and you cannot provide documentation for methods in one of the most basic modules!

[2019-04-24 06:24] #19 closed

[2019-04-24 06:24] #54 closed

[2019-04-24 06:24] #55 closed

[2019-04-24 06:24] #56 closed

[2019-04-24 06:24] #58 closed

[2019-04-24 06:24] #82 closed

[2019-04-24 06:24] #142 closed

[2019-06-11 20:25] josselinauguste commented on #306
@dend Any news about the decommissioning of this documentation?

[2019-06-12 01:59] mairaw commented on #306
I just sent an e-mail to the team asking about this today. @dendeli-msft can you comment?

[2019-06-12 08:13] stroborobo commented on #306
Strangely none of the actual API docs from this repo seem to have been migrated. Or did I just not find it?

[2019-06-13 08:30] loop-evgeny opened #330 "List.truncate example output is wrong"
https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/list.truncate%5B%27t%5D-function-%5Bfsharp%5D?f=255&MSPPError=-2147217396

says the output of the sample code is

[code]

But the actual output is:

[code]

Also the description "Returns a list **that** with at most N elements." could be clarified, e.g. "Returns a new list that contains at most N elements from the start of the input list

[2019-07-11 14:22] akeeton opened #333 "Format specifiers table is broken in core.printf-module-[fsharp].md"
https://github.com/MicrosoftDocs/visualfsharpdocs/blob/live/docs/conceptual/core.printf-module-[fsharp].md

https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/core.printf-module-%5Bfsharp%5D

Screenshot taken in Google Chrome Version 74.0.3729.157 (Official Build) (64-bit) for Windows.  It also shows up the same way in Firefox and Edge.

![screencapture-msdn-microsoft-en-us-visualfsharpd

[2019-08-02 10:36] codec-abc opened #337 "Change code sample for Array.sortWith"
Hi,

If you look at [the documentation for Array.SortWith](https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/array.sortwith%5B%27t%5D-function-%5Bfsharp%5D) - [whose matching page is here](https://github.com/MicrosoftDocs/visualfsharpdocs/blob/live/docs/conceptual/array.sortwith['t]-function-[fsharp].md) - you will find the example pretty confusing because the example sort string based

[2019-08-14 09:32] bzuu-easy commented on #333
It seems this is not the only page with a broken table. Also the table listing the [array module](https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/collections.array-module-%5bfsharp%5d) seems to suffer from a broken table. Not sure if it is the same underlying issue.

[2019-08-15 17:09] thomaslevesque opened #339 "Members table for Array module is completely messed up"
See https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/collections.array-module-%5bfsharp%5d

[2019-09-16 12:22] bender2k14 commented on #311
And the link to the live hosting of that page is
https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/core.option-module-%5bfsharp%5d

[2021-01-29 23:45] hickford commented on #310
Link in original issue is dead, but I found List.allPairs documented at https://fsharp.github.io/fsharp-core-docs/reference/fsharp-collections-listmodule.html#allPairs

[2021-01-29 23:45] #310 closed

[2021-01-29 23:47] hickford commented on #184
Looks like most or even all these functions are now documented at

* https://fsharp.github.io/fsharp-core-docs/reference/fsharp-collections-listmodule.html
* https://fsharp.github.io/fsharp-core-docs/reference/fsharp-collections-seqmodule.html
* https://fsharp.github.io/fsharp-core-docs/reference/fsharp-collections-arraymodule.html

[2021-01-30 18:00] ScottHutchinson commented on #184
@hickford That is only the bare minimum documentation generated from XML comments. There are no examples, for instance. That is inadequate.

[2021-05-05 19:32] #306 closed

[2021-06-11 12:44] #253 closed

[2021-11-16 13:33] dsyme commented on #71
Content has been migrated, closing all old issues in this repo

[2021-11-16 13:33] #71 closed